# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-selfcheck.json
pip-log.txt
pip-delete-this-directory.txt
dist/
build/
*.egg-info/
.tox/
.coverage
.cache/

# OS
.DS_Store

# Logs
*.log
